<div class="accordion m-3" id="accordionExample">
{{#each log.steps as |step index|}}
  <div class="card">
    <div class="card-header" id="heading-{{index}}">
      <h5 class="mb-0">
        <button class="btn btn-link {{build-step-class step}}" type="button" data-toggle="collapse" data-target="#collapse-{{index}}" aria-expanded="true" aria-controls="collapse-{{index}}">
          {{step.step}}
        </button>
      </h5>
      {{!-- {{step.image.name}}:{{step.image.tag}} ({{step.image.imageSize}}, {{step.image.pullDuration}}) --}}
    </div>

    <div id="collapse-{{index}}" class="collapse show" aria-labelledby="heading-{{index}}" data-parent="#accordionExample">
      <div class="card-body text-monospace bg-dark text-light">
        {{#each step.logLines as |line|}}
            <span class="text-white-50">{{line.timestamp}}</span> {{line.text}}<br />
        {{/each}}
      </div>
    </div>
  </div>
{{/each}}
</div>
