<div class="m-3">
<table class="table">
<thead>
    <tr>
    <th scope="col">Pipeline</th>
    <th scope="col">Version</th>
    <th scope="col">Branch</th>
    <th scope="col">Revision</th>
    <th scope="col">Status</th>
    <th scope="col">Labels</th>
    <th scope="col">Releases</th>
    </tr>
</thead>
<tbody>

{{#each pipelines as |pipeline|}}
    {{#link-to "pipeline-builds" pipeline.repoSource pipeline.repoOwner pipeline.repoName tagName="tr" class="clickable"}}
    <td scope="row">
        <span class="text-muted">{{pipeline.repoSource}}/{{pipeline.repoOwner}}/</span><strong>{{pipeline.repoName}}</strong>
    </td>
    <td>{{pipeline.buildVersion}}</td>
    <td>{{pipeline.repoBranch}}</td>
    <td>{{git-hash pipeline.repoRevision}}</td>
    <td class="align-middle">
        <div class="progress">
        <div class="progress-bar bg-{{transform-build-status-to-css pipeline.buildStatus}}" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </td>
    <td>
        {{#each pipeline.labels as |label|}}
        <button type="button" class="btn btn-light btn-sm">{{label.key}}={{label.value}}</button>
        {{/each}}
    </td>
    <td>
        {{#each pipeline.targetVersions as |targetVersion|}}
        <button type="button" class="btn btn-light btn-sm">
            {{targetVersion.target.name}} <span class="badge badge-{{transform-build-status-to-css targetVersion.buildStatus}}">{{targetVersion.buildVersion}}</span>
        </button>
        {{/each}}
    </td>
    {{/link-to}}
{{/each}}
</tbody>
</table>
</div>